@model IEnumerable<Modele.Participant>

@{
    ViewData["Title"] = "Participants";
}

<h1>Participants</h1>
<p>
    <a asp-action="Create">Nouvelle fiche</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Civilite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnneeNaissance)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Activites)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Civilite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnneeNaissance)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Activites)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ParticipantId">Fiche</a> |
                    <a asp-action="Edit" asp-route-id="@item.ParticipantId">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.ParticipantId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
