
@{
    ViewData["Title"] = "Db Tools";
}

<h1>Db Tools</h1>

<div class="row">
    <div class="col-md-4">
        <p>Nbr événements</p>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.NbrEvenements</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Nbr Participants</p>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.NbrParticipants</span>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Nbr Participations</p>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.NbrParticipations</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Nbr Utilisateurs</p>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.NbrUtilisateurs</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Nbr Participations</p>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.NbrParticipations</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-action="Migration">Migrer la base</a>
    </div>
    <div class="col-md-4">
        <span>@ViewBag.Message</span>
    </div>
</div>