@model IEnumerable<Modele.Interet>

@{
    ViewData["Title"] = "Index";
}

<h1>Intérêts</h1>
<p>
    <a asp-action="Create">Suivre un événement</a>  |

    @if (Model.Any())
    {
        <a asp-action="EnregistrerListe">Enregistrer la liste</a>
    }
    else
    {
        <a asp-action="ListeEnregistree">Lire la liste enregistrée</a>
    }
</p>
<p>@ViewBag.Message</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvenementId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaires)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TitreEvenement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentaires)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EvenementId">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@item.EvenementId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
