@model IEnumerable<Modele.Evenement>

@{
    ViewData["Title"] = "Inscription à un événement";
}

<h1>Inscription à un événement</h1>
<p>Pour @ViewBag.Participant</p>
<hr />
<form asp-controller="Evenements" asp-action="Inscription" method="get">
    <div class="row">
        <div class="col-2">
            <label class="control-label">Recherche</label>
        </div>
        <div class="col-5">
            <input name="TexteRecherche" type="text" value="@ViewBag.Filtre" />
        </div>
        <div class="col-2">
            <input type="submit" value="Recherche" />
        </div>
        <div>
            <p>@ViewBag.Resultat</p>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Titre
            </th>
            <th>
                Année
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Annee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateEvenement)
                        </td>
                        <td>
                            <input type="button" value="Inscription" data-idev="@item.EvenementId" data-idpa="@ViewBag.PaId"  />
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/inscription.js"></script>
}
