@model Modele.Participant

@{
    ViewData["Title"] = "Delete";
}

<h1>Confirmation de suppression du participant</h1>
<h3>Etes-vous sûr ?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Civilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnneeDeces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnneeDeces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LieuNaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LieuNaissance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activites)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activites)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ParticipantId" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Liste</a>
    </form>
</div>
